* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #495464;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: "Poller One", cursive;
  text-align: center;
  color: #e8e8e8;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
}

.formulario-metadata {
  padding: 10px;
  background-color: #f5a962;
}

.formulario-metadata label {
  margin-top: 10px;
}

.formulario-metadata input {
  margin-bottom: 10px;
}

.formulario-p {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formulario-p label {
  margin-top: 10px;
}

.formulario-p input {
  margin-bottom: 10px;
}

.formulario-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-formulario {
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #f5a962;
}

.history {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.history h2 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background-color: #bbbfca;
}

#listaPacientesFecha ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#listaPacientesFecha li {
  list-style: url("https://img.icons8.com/ios/20/000000/ophthalmology.png");
}

#btnInfo {
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #90aacb;
}

#btnHide {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #90aacb;
}

#divInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tablas {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

#tableDr {
  width: fit-content;
  margin: 10px;
}

#tableConsultas {
  width: fit-content;
  margin: 10px;
}

#tableCirugias {
  width: fit-content;
  margin: 10px;
}

#tableEstudios {
  width: fit-content;
  margin: 10px;
}

#valores {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  font-size: 10px;
}

table.Rows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #ffffff;
  width: 350px;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.Rows td,
table.Rows th {
  border: 1px solid #ffffff;
  padding: 3px 2px;
}
table.Rows tbody td {
  font-size: 13px;
}
table.Rows tr:nth-child(even) {
  background: #4954643b;
}
table.Rows thead {
  background: #495464;
  border-bottom: 5px solid #ffffff;
}
table.Rows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ffffff;
}
table.Rows thead th:first-child {
  border-left: none;
}

table.Rows tfoot td {
  font-size: 14px;
}

#btnGetPacientes {
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #90aacb;
}

/*#btnGet {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #f5a962;
}

#btnPost {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  font-size: 30px;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
  background-color: #f5a962;
}
*/

.footer {
  background-color: #495464;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h2 {
  font-family: "Poller One", cursive;
  font-size: 15px;
  text-align: center;
  color: #e8e8e8;
}
